{% for news in page_obj %}
<div class="container" id="all-news">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6 col-md-4 container-size">
                    {% if news.image %}
                        <img src="{{ news.image.url }}">
                    {% endif %}
                </div>
                <div class="col-6 col-md-8">
                    <p class="created-at">{{ news.created_at }}</p>
                    <a class="text-break title" href="{% url 'news:post_detail' news.slug %}">{{ news.title }}</a>
                    <p class="description text-break">{{ news.description }}</p>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
{% empty %}
    <h1 class="text-center">Não há nada aqui no momento, volte mais tarde!</h1>

{% endfor %}

{% include 'global/partials/pagination.html' %}