<!-- Modal -->
<button class="btn-profile mt-4" data-bs-toggle="modal" data-bs-target="#view_profile">
    Informações básicas
</button>
<div class="modal fade" id="view_profile" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Visualizar perfil</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Visualizar perfil -->
                <p>Nome: {{ author.author.first_name }} {{ author.author.last_name }}</p>
                <p>Idade: {{ author.age }}</p>
                <p>Cidade natal: {{ author.hometown }}</p>
                <p>Cidade atual: {{ author.current_city }}</p>
                <p>Sexo: {{ author.sex }}</p>
                <p>Estado civil: {{ author.marital_status }}</p>
                <p>Número de telefone: {{ author.phone_number }}</p>
                <p>Usuário criado em: {{ author.created_at }}</p>
                <p>Última visita: {{ author.author.last_login }}</p>
                <!-- Fim formulário editar perfil -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Fim modal -->