{% extends 'global/base.html' %}

{% block 'title' %}{{ post.title }}{% endblock 'title' %}

{% block 'content' %}

<div id="read-news" class="container">
    <div class="row">
        <div class="col-10 mt-3 content">
            <!-- Título -->
            <h1>{{ post.title }}</h1>

            <!-- Descrição -->
            <p>{{ post.description }}</p>

            <!-- Autor -->
            <p class="author">Por {{ post.author.first_name }} {{post.author.last_name }}</p>

            <!-- Dada publicação -->
            {% if post.updated_at > post.created_at %}
                <p class="published">Última atualização {{ post.created_at }} </p>
            {% else %}
                <p class="published">Publicado {{ post.created_at }} </p>
            {% endif %}

            <div class="icons mt-3">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram" style="color: #ef4a4a"></i></a>
                <a href=""><i class="fa-brands fa-youtube" style="color: #ef0000"></i></a>
                <a href=""><i class="fa-brands fa-telegram"></i></a>
                <a href=""><i class="fa-brands fa-whatsapp" style="color: #7fff00"></i></a>
            </div>
            <hr>
        </div>

        <div class="col-8 mt-4 content">
            <div class="main-content">
                <img src="{{ post.image.url }}"
                     style="width: 100%; height: 100%;">
                <p>
                    {{ post.content | safe }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-8 last_news_content">
                <hr>
                <h3>Últimas notícias</h3>
                <div class="row">
                    {% for post in posts  %}
                    <div class="col-4 last_news">
                        <img src="{{ post.image.url }}">
                        <a href="" class="text-break">{{post.title}}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock 'content' %}